---
import { HEADER_BRANDING, HEADER_ACCESSIBILITY } from '../../constants/headerConstants';
import { ROUTE_HOME } from '../../constants/routesConstants';
---

<a aria-label={HEADER_ACCESSIBILITY.LOGO_FOCUS_TEXT} class="flex items-center" href={ROUTE_HOME}>
  <img
    alt={HEADER_BRANDING.LOGO_ALT_TEXT}
    class:list={[`mr-3 w-12`, `${HEADER_BRANDING.LOGO_HEIGHT_DESKTOP}`]}
    src={HEADER_BRANDING.LOGO_IMAGE_PATH}
  />
  <!-- <span class="text-xl font-bold text-gray-800">Hatha Yogashram</span> -->
</a>
