---
import {
  HEADER_BRANDING,
  HEADER_ACCESSIBILITY,
} from "../../constants/headerConstants";
import { ROUTE_HOME } from "../../constants/routesConstants";
---

<a
  href={ROUTE_HOME}
  class="flex items-center"
  aria-label={HEADER_ACCESSIBILITY.LOGO_FOCUS_TEXT}
>
  <img
    src={HEADER_BRANDING.LOGO_IMAGE_PATH}
    alt={HEADER_BRANDING.LOGO_ALT_TEXT}
    class={`w-12 mr-3 ${HEADER_BRANDING.LOGO_HEIGHT_DESKTOP}`}
  />
  <!-- <span class="text-xl font-bold text-gray-800">Hatha Yogashram</span> -->
</a>
