---
interface Props {
  schedule: Array<{ time: string; activity: string }>;
}
const { schedule } = Astro.props;
import { ROUTE_CONTACT, ROUTE_PAYMENT } from '../../../constants/routesConstants';
import Button from '../../ui/Button.astro';
import SectionHeader from '../../ui/SectionHeader.astro';
---

<section class="mx-10 mb-10 mt-20 font-bold md:mx-20" id="DailySchedule">
  <SectionHeader title="Daily Schedule for 200 hrs YTTC" />

  <div class="flex w-full flex-col md:flex-row">
    <div class="mt-6 w-full space-y-6 md:w-1/3">
      {
        schedule.slice(0, 4).map(({ time, activity }) => (
          <div class="flex flex-col items-center">
            <div class="flex w-full skew-x-[-5deg] justify-center bg-primary px-4 py-2 text-white">
              <span class="inline-block skew-x-[5deg] font-bold">{time}</span>
            </div>
            <span class="mt-2 text-lg font-semibold">{activity}</span>
          </div>
        ))
      }
    </div>

    <div
      class="my-5 mt-10 w-full rounded-lg border border-black p-6 py-5 text-center font-space md:mt-0 md:w-1/3"
    >
      <h3 class="font-bold">Daily Schedule for 200 hrs YTTC</h3>
      <p class="mt-4 font-light">
        A well-structured daily routine forms the backbone of yoga courses, especially intensive
        programs like the 200 hour Yoga Teacher Training (YTT). This carefully organized schedule
        ensures effective learning, fosters discipline, and helps students seamlessly incorporate
        yogic principles into their daily lives. By maintaining a balanced schedule, students stay
        refreshed, energized, and focused throughout the day.
      </p>
      <h4 class="mt-6 font-semibold">Weekly Schedule: Monday to Saturday</h4>
      <img alt="Yoga Daily Schedule" class="mt-4 w-full rounded-lg" src="/yogacoursepic.jpg" />
      <div class="mt-10 block justify-center gap-4 lg:flex">
        <Button class="rounded border bg-primary px-6 py-2 text-white" href={ROUTE_CONTACT}
          >Book Course</Button
        >
        <Button class="rounded border bg-primary px-6 py-2 text-white" href={ROUTE_PAYMENT}
          >Pay Course</Button
        >
      </div>
    </div>
    <div class="w-full md:w-1/3">
      {
        schedule.slice(4).map(({ time, activity }) => (
          <div class="flex flex-col items-center">
            <div class="flex w-full skew-x-[-5deg] items-center justify-center bg-primary px-4 py-2 text-white">
              <span class="inline-block skew-x-[5deg] font-bold">{time}</span>
            </div>
            <span class="mt-2 text-lg font-semibold">{activity}</span>
          </div>
        ))
      }
    </div>
  </div>
</section>
