---
import type { DailyScheduleSectionData } from '../../../constants/TTC/200hour';

interface Props {
  sectionData: DailyScheduleSectionData;
}

const { sectionData } = Astro.props;
import { ROUTE_CONTACT, ROUTE_PAYMENT } from '../../../constants/routesConstants';
import Button from '../../ui/Button.astro';
import SectionHeader from '../../ui/SectionHeader.astro';
---

<section class="relative mx-10 mb-10 mt-20 font-bold md:mx-20" id="DailySchedule">
  <SectionHeader title={sectionData.title} />

  <div class="flex w-full flex-col md:flex-row">
    <div class="mt-0 w-full space-y-6 md:mt-24 md:w-1/3">
      {
        sectionData.schedule.slice(0, 5).map(({ time, activity }) => (
          <div class="relative flex flex-col items-center pb-16">
            <div class="bg-bluelight absolute -right-0 flex w-full skew-x-[-15deg] justify-center px-4 py-2 text-white md:-right-10">
              <span class="inline-block skew-x-[5deg] font-bold">
                {time} - {activity}
              </span>
            </div>
          </div>
        ))
      }
    </div>

    <div
      class="z-10 my-5 mt-10 w-full rounded-lg border border-black bg-white p-6 py-5 text-center font-space shadow-lg md:mt-0 md:w-1/3"
    >
      <h3 class="font-bold">{sectionData.title}</h3>
      <p class="mt-4 text-sm font-light">
        {sectionData.description}
      </p>
      <h4 class="mt-6 font-semibold">{sectionData.weeklyScheduleText}</h4>
      <img 
        alt={sectionData.image.alt} 
        class="mt-4 w-full rounded-lg" 
        src={sectionData.image.src} 
      />
      <div class="mt-10 block justify-center gap-4 lg:flex">
        <Button class:list={[sectionData.buttons.book.class]} href={ROUTE_CONTACT}>
          {sectionData.buttons.book.text}
        </Button>
        <Button class:list={[sectionData.buttons.pay.class]} href={ROUTE_PAYMENT}>
          {sectionData.buttons.pay.text}
        </Button>
      </div>
    </div>
    <div class="mt-0 w-full space-y-6 md:mt-24 md:w-1/3">
      {
        sectionData.schedule.slice(5).map(({ time, activity }) => (
          <div class="relative flex flex-col items-center pb-16">
            <div class="bg-bluelight absolute -right-0 flex w-full skew-x-[-15deg] justify-center px-4 py-2 text-white md:-left-10">
              <span class="inline-block skew-x-[5deg] font-bold">
                {time} - {activity}
              </span>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
