---
interface Props {
  cardClass: string;
  profileContainerClass: string;
  profileImageWrapperClass: string;
  profileImageClass: string;
  contentContainerClass: string;
  image: string;
  imageAlt: string;
}

const {
  cardClass,
  profileContainerClass,
  profileImageWrapperClass,
  profileImageClass,
  contentContainerClass,
  image,
  imageAlt,
} = Astro.props;
---

<div class:list={cardClass}>
  <!-- Profile Image -->
  <div class:list={profileContainerClass}>
    <div class:list={profileImageWrapperClass}>
      <img alt={imageAlt} class:list={profileImageClass} loading="lazy" src={image} />
    </div>
  </div>

  <!-- Content -->
  <div class:list={contentContainerClass}>
    <slot />
  </div>
</div>
