---
import type { SectionHeaderProps } from '../../types';
import DecorativeUnderline from '$components/ui/DecorativeUnderline.astro';

export interface Props extends SectionHeaderProps {}

const {
  title,
  titleClass = 'mb-4 text-xl font-bold text-purple-900 sm:text-3xl lg:text-4xl text-center',
  svgWidth = 300,
  svgHeight = 30,
  svgColor = 'text-purple-900',
  containerClass = 'mb-12 text-center flex w-full justify-center flex-col',
} = Astro.props;
---

<!-- Section Header with Decorative Underline -->
<div class:list={containerClass}>
  <h2 class:list={titleClass}>
    {title}
  </h2>

  <!-- Decorative Underline SVG -->
  <DecorativeUnderline className={svgColor} height={svgHeight} width={svgWidth} />
</div>
